.full-width {
    width: 100%;
}

.mlr-16 {
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.mt-signin {
    margin-top: 5rem !important;
}

.text-center {
    justify-content: center;
}
.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
.example-radio-button {
    margin: 5px;
  }